<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Sign in" %></div>
<% end %>

<%= render "devise/shared/links" %>

<br>
<p><em>Before sign up, you can use demo account to try</em></p>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <%= f.hidden_field :email, value:'demo@example.com' %>
  <%= f.hidden_field :password, value:'a1234567' %>
  <div><%= f.submit "Try it" %></div>
<% end %>
